# Version control
.git
.gitignore

# Environment variables and secrets
.env
.env.*
!.env.example

# Node/JavaScript dependencies
node_modules
**/node_modules
npm-debug.log
yarn-error.log

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
.tox/
.coverage
.coverage.*
.cache
*.log
.pdm-build/
.ruff_cache/
.pytest_cache/

# OS and Editor files
.DS_Store
.idea
.vscode
*.swp
*~

# Ansible/Deployment specific
ansible/

# Local data / DB
*.sql
*.sqlite3
